html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.footer {
  padding: 8px;
  margin-top: 12px;
}

.section {
  padding: 3px;
  margin-top: 12px;
}

hr {
  max-width: 60rem;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: grey;
  opacity: 0.5;
}