html,
body {
  overflow-x: hidden;
  color: #33302e;
  font-family: Helvetica, sans-serif;
}

.navbar .is-dark,
.navbar-brand,
.navbar-menu {
  background-color: #ffff;
}

.navbar-burger span {
  background-color: #33302e;
}

.navbar.is-dark .navbar-end>.navbar-item {
  color: #33302e;
}

body {
  position: relative;
}

.footer {
  padding: 8px;
  margin-top: 12px;
}

.section {
  padding: 3px;
  margin-top: 12px;
}

hr {
  max-width: 60rem;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: grey;
  opacity: 0.5;
}

.share-btn-container a i {
  font-size: 24px;
  margin: 8px 0;
  padding: 8px;
}

.share-btn-container .fa-facebook {
  color: #33302e;
}

.share-btn-container .fa-twitter {
  color: #33302e;
}

.share-btn-container .fa-linkedin {
  color: #33302e;
}

.share-btn-container .fa-whatsapp {
  color: #33302e;
}
